* { padding: 0;
  margin: 0;
  box-sizing: border-box;
}
  
/* Styling the Header and adding effect/animation */
h1 {
  font-family: Palatino;
  font-weight: 600;
  font-size: 70px;
  line-height:65px;
  letter-spacing: 10px;
  text-align: center;
  text-transform: uppercase;
  color: transparent;
  -webkit-background-clip: text;
  background-clip: text;
  background-size: 400%;
  animation: move 5s ease infinite;
  background-image: linear-gradient( 68.7deg,  rgb(135, 145, 149) 13.2%, rgb(113, 124, 219) 29.8%, rgb(114, 67, 107) 48.9%, rgb(0, 0, 0) 68.2%, rgb(37, 38, 87) 86.4% );
  
}

@keyframes move {
  0%,100%{
      background-position: 100% 0%;
  }

  50%{
      background-position: 0% 100%;
  }
}
  
/* Styling the overall body/background */
body {
  text-align: center;
  background: linear-gradient(90deg, red, blue);
  font-weight: bold;
}
/* Styling text input */
input {
 border-radius: 10px;
 padding: 5px;
 background-color: transparent;
 font-weight: Bold;
 
 
}
/* Styling div suggestions/dropdown */
.search-container {
  text-align: center;
  height: 300px;
  overflow: hidden;

  
}


/* Removing bullet points from the list items */
ul {
  list-style-type: none;
 
  
  
}
/* Styling list */
ul li {
  width: 200px;
  position: relative;
  margin: 15px auto;
  cursor: pointer;
}
/* Adding hover effect to list */
ul li:hover {
  background-color: #b13ddf9e;
}

